.App {
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.contact__list {
  height: 300px;
  overflow-y: auto;
}

input {
  display: block;
  margin: 5px 0;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}